services:
  ldap:
    image: osixia/openldap:1.5.0
    container_name: openldap
    environment:
      - LDAP_ORGANISATION={{ ldap_organisation }}
      - LDAP_DOMAIN={{ ldap_domain }}
      - LDAP_ADMIN_PASSWORD={{ ldap_admin_password }}
      - LDAP_CONFIG_PASSWORD={{ ldap_config_password }}
    ports:
      - "389:389"  # LDAP
      - "636:636"  # LDAPS
    volumes:
      - ldap_data:/var/lib/ldap
      - ldap_config:/etc/ldap/slapd.d

  authelia:
    image: authelia/authelia:latest
    container_name: authelia
    environment:
      - JWT_SECRET={{ authelia_jwt_secret }}
      - SERVER_HOST={{ authelia_server_host }}
      - SERVER_PORT={{ authelia_server_port }}
      - LDAP_URL={{ authelia_ldap_url }}
      - LDAP_BASE_DN={{ authelia_ldap_base_dn }}
      - LDAP_USER_DN={{ authelia_ldap_user_dn }}
      - LDAP_GROUP_DN={{ authelia_ldap_group_dn }}
      - LDAP_BIND_DN={{ authelia_ldap_bind_dn }}
      - LDAP_BIND_PASSWORD={{ authelia_ldap_bind_password }}
    ports:
      - "9091:9091"  # Authelia
    volumes:
      - ./authelia:/config  # Mount a local directory for Authelia config
    depends_on:
      - ldap

volumes:
  ldap_data:
  ldap_config:
